// Colors
$gray: #EEF1EE;
$black: #1d1d1d;

// Breaks
$break-small: 500px;
$break-large: 1024px;
$break-xxl: 1340px;

// Sizes
$size: 90vw;
$rel-size: 80%;
$margin: 5vw;
$fixed-size: 100vw;
$fixed-height: 100vh;

// Rem sizes
$font: 1.2rem;
$font-big: 1.4rem;
$padding: 1rem;
$padding-big: 1.5rem;
$button: 1.6rem;
$button-big: 2rem;
$header: 6rem;
$header-big: 8rem;